@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root{
        @apply bg-aliceblue-100 dark:bg-black md:pt-1 overflow-x-hidden
    }
    .outlet-area{
        @apply w-full mx-auto
    }
    .nav-bar-link{
        @apply  text-gray-700 hover:text-indigo-600 text-sm
    }
    .rounded-img-sm{
        @apply inline-block w-10 h-10 rounded-full
    }
    .faq-cards-container{
       @apply flex flex-wrap flex-row justify-between md:gap-[1%] pt-12
    }
    .faq-card{
        @apply bg-white rounded-lg p-5 mt-3 w-full min-h-[250px] md:w-[49%] lg:w-[32.33333%] 
        shadow-lg shadow-slate-600
    }
    .faq-card-img{
        @apply w-[55px] h-[55px]
    }
    .faq-card-title{
        @apply font-bold text-2xl my-3
    }
    .faq-card-body{
        @apply text-gray-200
    }
    .page-title{
        @apply text-center font-sans font-bold text-2xl bg-gray-100 max-w-[200px] mx-auto p-2 rounded-2xl
    }
    .page-title-first{
        @apply text-softgreen
    }
    .drawer-link{
        @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white
         hover:bg-gray-100 dark:hover:bg-gray-700
    }
    .loading{
        @apply z-[99999999] bg-black
    }
    .account-card{
        @apply max-w-sm min-w-[260px] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700
    }
    .account-card-title{
        @apply mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white
    }
    .account-card-sub-title{
        @apply mb-3 font-normal text-gray-500 dark:text-gray-400
    }
    .account-card-link{
        @apply inline-flex items-center text-blue-600 hover:underline
    }
}

::-webkit-scrollbar{
    background-color: skyblue;
    width: 10px;
}

::-webkit-scrollbar-button{
    border-radius: 3px;
    background-color: black;
}

::-webkit-scrollbar-corner{
    background-color: green;
}

::-webkit-scrollbar-track{
    background-color: blue;
}
::-webkit-scrollbar-thumb{
    background-color: #060640;
    max-height: 20px;
}